<!DOCTYPE html>
<html lang="en">
<%- include('includes/HTMLhead') %>   
<body class="bebasNeue">
    <%- include('includes/header') %>   
    <main class="w-screen mx-auto p-4   bg-[rgba(255,255,255,0.77)] min-h-80" > 
        
        <div class=""></div>
            <% if(typeof busca === "undefined" && typeof categoria !==  "undefined") {%>
                
                <h1 class=" w-95/100 text-start text-2xl mb-1 font-bold pt-4 lg:pt-30 text-[#05ABED] md:text-3xl lg:text-3xl lg:mb-3">Produtos em <%= categoria%></h1>
            <div  class="exposicao  mx-auto mb-4   p-3 shadow-2xl border-t-2 border-[#05ABED] ">
            
                <div class="flex  justify-around items-center flex-wrap gap-5 md:gap-7 md:mt-5 lg:gap-10 lg:justify-center  ">
                    <% qtd = 0; %>
                    <% produtosDaCategoria.forEach(produto => {%>
                        <% if(qtd < 12) { %>
                            <% if(qtd > 5) { %>
                                <div class="item-destaque hover:cursor-pointer hidden sm:hidden md:hidden lg:block">
                                    <img src="<%= produto.imagem %>" class=""  alt="">
                                    <p class="text-center text-bold text-md font-bold   "><%= produto.nome %></p>
                                    <span data-link="<%= produto.linkAfid %>"></span>
                                    <% console.log('rodando') %>
                                </div>
                            <% } else { %>
                                <div class="item-destaque hover:cursor-pointer">
                                    <img src="<%= produto.imagem %>" class=""  alt="">
                                    <p class="text-center text-bold text-sm font-bold "><%= produto.nome %></p>
                                    <span data-link="<%= produto.linkAfid %>"></span>
                                </div>
                            <% } %>
                            <% qtd++;
                            %>
                        <% } %>
                    <%}); %>
                </div>
                
                <% subcategorias.forEach((subCat, indice2) => { %>
                    <h1 class=" w-95/100 text-start text-2xl mb-1 font-bold pt-4 lg:pt-10 text-[#05ABED] md:text-3xl lg:text-3xl lg:mb-3">
                        Produtos em <%= subCat.NomeDeExibicao %>
                    </h1>
                    <div class="exposicao  mx-auto mb-10   p-3 shadow-2xl border-t-2 border-[#05ABED] ">
                        <div class="flex  justify-around items-center flex-wrap gap-5 md:gap-7 md:mt-5 lg:gap-10 lg:justify-center">
                            <% qtd = 0; %>
                            <% produtosSubCat[indice2].forEach(produto => { %>
                                <% if(qtd < 12) { %>
                                    <% if(qtd > 5) { %>
                                        <div class="item-destaque hover:cursor-pointer hidden sm:hidden md:hidden lg:block">
                                            <img src="<%= produto.imagem %>" class=""  alt="">
                                            <p class="text-center text-bold text-md font-bold"><%= produto.nome %></p>
                                            <span data-link="<%= produto.linkAfid %>"></span>
                                        </div>
                                    <% } else { %>
                                        <div class="item-destaque hover:cursor-pointer">
                                            <img src="<%= produto.imagem %>" class=""  alt="">
                                            <p class="text-center text-bold text-sm font-bold"><%= produto.nome %></p>
                                            <span data-link="<%= produto.linkAfid %>"></span>
                                        </div>
                                    <% } %>
                                    <% qtd++; %>
                                <% } %>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>  
                


                


            <% }else{%>  
                
                
                <% if(produtosBusca.length < 1)  {%> 
                    <h1 class=" w-95/100 text-start text-xl mb-1 font-bold pt-4 lg:pt-30   text-[#05ABED] md:text-3xl lg:text-3xl lg:mb-3">Nenhum resultado encontrado para: "<%= nomeBusca%>"</h1>
    
                    <img class=" h-80/100 w-80/100 mx-auto lg:h-30/100 lg:w-30/100 " src="assets/imgs/search.png" alt="erro-busca">
    
                    <h1 class=" w-80/100 mx-auto text-center text-xl mb-1 font-bold lg:w-30/100   text-[#05ABED] md:text-3xl lg:text-xl lg:mb-3 lg:mt-[-10px]">Tente usar palavras-chave mais genericas como "Óculos de sol" ou "Camisetas"</h1>
                    
                    
                    
                <% } else  {%> 
                    <h1 class=" w-95/100 text-start text-xl mb-1 font-bold pt-4 lg:pt-30 text-[#05ABED] md:text-3xl lg:text-3xl lg:mb-3">Exibindo resultados para: "<%= nomeBusca%>"</h1>
    
                    <div  class="exposicao  mx-auto mb-10   p-3 shadow-2xl border-t-2 border-[#05ABED] ">
                    
                        <div class="flex justify-around items-center flex-wrap gap-5 md:gap-7 md:mt-5 lg:gap-10 lg:justify-center  ">
                            <% qtd = 0; %>
                            <% produtosBusca.forEach(produto => {%>
                
                                <% if(qtd < 6) { %>
                
                                    <% if(qtd > 3) { %>
                
                                        <div class="item-destaque hover:cursor-pointer hidden sm:hidden md:hidden lg:block">
                                            <img src="<%= produto.imagem %>" class=""  alt="">
                                            <p class="text-center text-bold text-md font-bold   "><%= produto.nome %></p>
                                            <% console.log('rodando') %>
                                            <span data-link="<%= produto.linkAfid %>"></span>
                                        </div>
                                    <% } else { %>
                                        <div class="item-destaque hover:cursor-pointer">
                                            <img src="<%= produto.imagem %>" class=""  alt="">
                                            <p class="text-center text-bold text-sm font-bold "><%= produto.nome %></p>
                                            <span data-link="<%= produto.linkAfid %>"></span>
                
                                        </div>
                
                
                                    <% } %>
                                    <% qtd++;
                
                                    %>
                
                                <% } %>
                
                            <%}); %>
                
                        </div>
                    
                <% } %>
                
            </div>
           <% ; %>
    
    

                <%} %>
        </div>
    </main>
    <script src="/js/links.js"></script>
</body>
</html>


