<!DOCTYPE html>
<html lang="en">
    <%- include('includes/HTMLhead') %>   
<body class=" bg-[rgba(0,0,0,0.2)]  ">
    <header class="   w-screen bg-blue-500 flex flex-col items-center justify-center px-1 pb-1 gap-3  z-10 md:flex-row md:h-24 md:gap-1 lg:fixed">

        <div class="flex items-center gap-4 mr-4 mt-2 md:mt-0 ">
            <img src="/assets/imgs/logo.png" class="w-10 h-10 inline-block md:w-15 md:h-15 lg:w-15 lg:h-15 lg:">
            <h1 class="text-xl inline-block text-white font-bold md:text-4xl lg:text-4xl">QueridoLinks</h1>
            <img src="/assets/imgs/X-logo.png" class="w-8 h-8 inline-block md:hidden">
            <img src="/assets/imgs/whatsapp.png" class="w-7 h-7 inline-block md:hidden">
        </div>

        <form class="flex items-center gap-1  p-1 rounded-sm" method="post" action="/busca" >
            <input type="text" name="busca" id="" placeholder="Buscar em Querido Links" class=" w-70 h-10 p-2 rounded-sm bg-white md:w-90 md:h-12 lg:w-180 lg:h-11">
            <button class=" w-10 h-10 bg-white bg-[url(/assets/imgs/procurar.png)] bg-cover rounded-sm md:w-12 md:h-12 lg:w-11 lg:h-11"  ></button>
        </form>        
    </header>


    <main class="w-screen m-auto bg-[rgba(255,255,255,0.77)] min-h-80 pt-6 font-teste lg:pt-26" >
        <div class="flex justify-center items-center gap-10 w-95/100 bg-white shadow-xl m-auto p-3 lg:w-83/100">

            <div class="lg:flex flex-col justify-center items-center  pr-6 hidden sm:hidden md:hidden" > 
                <a href=""> <img src="/assets/imgs/lojas/mercado-livre.png" class="w-10 h-10 p-1 rounded-lg text-amber-200 md:w-14 md:h-14" alt="icon-lojas"></a>
                <p>Mercado livre</p>
            </div>

            <div class="lg:flex flex-col justify-center items-center  pr-6 " > 
                <a href=""> <img src="/assets/imgs/lojas/shopee.png" class="w-10 h-10 p-1 rounded-lg text-amber-200 md:w-14 md:h-14" alt="icon-lojas"></a>
                <p>Shopee</p>
            </div>

            <div class="flex flex-col justify-center items-center border-r-1 pr-6" > 
                <a href=""> <img src="/assets/imgs/promocao.png" class="w-10 h-10 p-1  rounded-lg text-amber-200 md:w-14 md:h-14" alt="icon-lojas"></a>
                <p>Promoções</p>
            </div>

            <div class="flex flex-col justify-center items-center"> 
                <a href="<%=`/categorias:${categorias[0][2]}`%>"> <img src="/assets/imgs/categorias/<%=categorias[0][0]%>.png" class="w-10 h-10 p-1  rounded-lg text-amber-200 md:w-14 md:h-14" alt="icon-lojas"></a>
                <p><%=categorias[0][1]%></p>
            </div>

            <div class=" flex-col justify-center items-center hidden md:flex"> 
                <a href="<%=`/categorias:${categorias[1][2]}`%>"> <img src="/assets/imgs/categorias/<%=categorias[1][0]%>.png" class="w-10 h-10 p-1  rounded-lg text-amber-200 md:w-14 md:h-14 " alt="icon-lojas "></a>
                <p><%=categorias[1][1]%></p>
            </div>

            <div class=" flex-col justify-center items-center hidden md:flex"> 
                <a href="<%=`/categorias:${categorias[2][2]}`%>"> <img src="/assets/imgs/categorias/<%=categorias[2][0]%>.png" class="w-10 h-10 p-1  rounded-lg text-amber-200 md:w-14 md:h-14 " alt="icon-lojas "></a>
                <p><%=categorias[2][1]%></p>
            </div>

            <div class=" flex-col justify-center items-center hidden md:flex"> 
                <p><a href="#categories">Ver Mais</a></p>
            </div>

            

            

           
            
        </div>
        <!-- section de apresentação -->
        <section class="w-77/100 mx-auto mt-3 sm:grid grid-cols-3 gap-1  md:w-90/100 lg:w-77/100 hidden">
            <div class="col-span-2 row-span-2 bg-blue-300 flex overflow-hidden">
                <img  src="/assets/imgs/carrossel/1.png" class=" carrossel w-full h-100/100  " alt="">
                <img src="/assets/imgs/carrossel/2.png" class="carrossel  w-full h-100/100 " alt="">
                <img src="/assets/imgs/carrossel/3.png" class="carrossel  w-full h-100/100  " alt="">

               <div class="navegacao hidden sm:hidden md:hidden">
                <input type="radio" disabled name="" id="">
                <input type="radio"  disabled name="" id="">
                <input type="radio" disabled name="" id="">
               </div>
                
            </div>
            <div class="bg-amber-900">
                <img src="/assets/imgs/siga-no-x.png" class="w-full h-full" alt="">
            </div>
            <div class="bg-black">
                <img src="/assets/imgs/grupo.png" class="w-full h-full" alt="">
            </div>
        </section>

        <!--OFERTAS-->
        <div  class=" w-95/100  mx-auto mb-10 mt-10 p-3 shadow-2xl border-t-2 border-[#05ABED] lg:px-3">
            <h1 class="text-start text-2xl mb-1 font-bold   text-[#E63946] md:text-4xl lg:text-2xl">OFERTAS</h1>
            <a href="/categorias">
                <h1 class="text-end text-lg mb-2 md:text-xl ver-todos">Ver todos -></h1>
            </a>
            <div class="flex justify-start items-center  ">
                <% let qtd = 0; %>
                <% produtosDinamicos.slice().reverse().forEach(produto => {%>
                    
                    <% if(qtd < 8) { %> 
                        
                        <% if (qtd > 3) { %>
                            
                            <div class="item-oferta hidden hover:cursor-pointer  md:hidden lg:block">
                                <img src="<%= produto.imagem %>" class="" alt="">
                                <span data-link="<%= produto.linkAfid %>"></span>
                                <p class="text-center text-bold font-bold">R$:<%= produto.valor %></p>
                                
                            </div>
                        <% } else { %>
                            
                            <div class="item-oferta hover:cursor-pointer">
                                <img src="<%= produto.imagem %>" class="" alt="">
                                <span data-link="<%= produto.linkAfid %>"></span>
                                <p class="text-center text-bold font-bold">R$:<%= produto.valor %></p>
                                
                            </div>
                        <% } %>
                        <% qtd++; 
                            console.log(qtd)
                        %> 

                        
                        
                        
                    <% } %>
                        
                <%}); %>
            </div>
        </div>

        

        <!--Produtos em desatque-->
        <div  class="exposicao  w-95/100  mx-auto mb-10 mt-15 p-3 shadow-2xl border-t-2 border-[#05ABED]">
            <h1 class="text-start text-2xl mb-1 font-bold  text-[#E63946] md:text-4xl lg:text-2xl">PRODUTOS EM DESTAQUE</h1>
            <a href="/categorias">
                <h1 class="text-end text-lg mb-2 md:text-xl ver-todos">Ver todos -></h1>
            </a>
            <div class="flex justify-around items-center flex-wrap gap-5 md:gap-7 md:mt-5 lg:gap-10 lg:justify-center  ">

                <% qtd = 0; %>
                <% produtosDinamicos.forEach(produto => {%>
                    
                    <% if(qtd < 6) { %> 
                        
                        <% if(qtd > 3) { %>
                            
                            <div class="item-destaque hover:cursor-pointer hidden sm:hidden md:hidden lg:block">
                                <img src="<%= produto.imagem %>" class=""  alt=""></a>
                                <p class="text-center text-bold text-md font-bold "><%= produto.nome %></p>
                                <% console.log('rodando') %>
                                <span data-link="<%= produto.linkAfid %>"></span>
                            </div>  
                        <% } else { %>

                            <div class="item-destaque hover:cursor-pointer">
                                <img src="<%= produto.imagem %>" class=""  alt="">
                                <p class="text-center text-bold text-md font-bold "><%= produto.nome %></p>
                                <span data-link="<%= produto.linkAfid %>"></span>
                                
                            </div>
                            
                            
                        <% } %>
                        <% qtd++; 
                            
                        %> 
                        
                    <% } %>
                        

                <%}); %>
                
            </div>
        </div>


        <div  class="  w-95/100  mx-auto  mt-15 p-5 shadow-2xl border-t-2 border-[#05ABED] " id="categories">
            <h1 class="text-start text-2xl  font-bold  text-[#05ABED] md:text-4xl lg:text-2xl lg:mb-4">Categorias</h1>
            <h1 class="text-end text-lg mb-2 md:text-lg lg:pb-5 ver-todos"><a href="/categorias">Ver todas -></a></h1>
            <div class=" exposicao flex justify-around items-center gap-4  flex-wrap  lg:justify-start lg:gap-4">
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[3][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[3][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[3][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[4][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[4][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[4][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[5][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[5][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[5][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[0][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[0][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[0][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[1][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[1][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[1][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[2][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[2][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[2][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[6][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[6][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[6][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[7][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[7][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[7][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[8][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[8][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[8][1]%></p>
                </div>
                
                <div class="item-categorias">
                    <a href="<%=`/categorias:${categorias[9][2]}`%>"><img src="/assets/imgs/categorias/<%=categorias[9][0]%>.png" class="" alt=""></a>
                    <p class="text-center text-sm font-bold"><%=categorias[9][1]%></p>
                </div>
                
                
            </div>
        </div>


        

        <div class="mensagem-divulgacao border-1 w-screen mx-auto mt-2 pb-7 px-10 py-10 bg-[#2B7FFF] flex justify-around items-center bg-linear-to-r from-[#2B7FFF] via-[#18AFB8] to-green-400 md:pb-10 lg:justify-center lg:gap-13">
            <div>
                <h1 class="text-xl text-white [text-shadow] text-start  mb-3 md:text-3xl">Entre no nosso grupo do Whatsapp</h1>
                <h2 class="text-lg text-start text-white inline-block md:text-2xl">fique por dentro de promoções relampago</h2>
            </div>
            <img src="/assets/imgs/whatsapp.png" class="w-15 h-15 inline-block md:w-20 md:h-20" alt="">
        </div>
    </main>

    <footer class="w-full h-4 bg-[#2B7FFF] ">

    </footer>

    <script src="/js/carrossel.js"></script>
    <script src="/js/links.js"></script>
</body>
</html>